.search_box {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 250px;
  transform: translateX(-50%);
  z-index: 99;
}

.swiper_content {
  width: 100%;
  height: 212px;
}

.swiper_img {
  width: 100%;
  vertical-align: "top";
}

.nav_menu {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.nav_menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #76c6b8;
}

.nav_menu_text {
  margin-top: 5px;
  color: #333;
  font-weight: 900;
}