.home_content {
	/* flex: 1;
	display: flex;
	justify-content: center;
	align-items: center; */
	position: relative;
	height: 100vh;
}

.tabbar_buttom {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: solid 1px var(--adm-border-color);
}